<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - D&D InfoServices</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar static-top navbar-light bg-primary row">
            <div class="col-sm-10">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <span style="color:white">
                        D&D InfoServices
                    </span>
                </a>
            </div>
            <div class="col-sm-2 dados-usuario">

                <button type="button" class="dropdown-toggle btn btn-primary botao-usuario" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span style="color:white"><b>@ViewBag.NomeUsuario </b></span></button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "Home")"> <span>Perfil</span></a></li>
                    <li><a href="@Url.Action("Index", "Home")"> <span>Alterar Senha</span></a></li>
                    <li role="separator" class="divider"> <hr /> </li>
                    <li><a href="@Url.Action("Sair", "Login")"><span>Sair</span></a></li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2022 - D&D InfoServices
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
</body>
</html>
