@*@using DeD_InfoServices.Enums;*@
@*@model DeD_InfoServices.DTOs.UsuarioDTO*@
@{
    ViewData["Title"] = "Cadastrar Usuário";
    bool novo = Model.Ide_Usuario <= 0;
}

<section class="container mt-2">

    <div class="box">
        <div class="box-header">
            @if (novo)
            {
                <h2 class="box-title">Cadastrar usuário</h2>
            }
            else
            {
                <h2 class="box-title">Editar usuário</h2>
            }
        </div><!-- /.box-header -->

        <div class="box-body">
            <form id="item_form" method="post" enctype="multipart/form-data">
                <div id="msgError" class="alert alert-danger alert-dismissable" style="display: none;">
                    <i class="fa fa-ban"></i>
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <b>Erro</b>
                    <span id="erroMsg"></span>
                </div>

                <div class="box">
                    <br />
                    <div class="overlay" style="display: none;"></div>
                    <div class="loading-img" style="display: none;"></div>

                    <div class="col-xs-12">
                        <div class="row">
                            @if (!novo)
                            {
                                <div class="form-group col-sm-12">
                                    <label for="ide_usuario">ID</label>
                                    <input type="number" name="ide_usuario" class="form-control" value="@Model.Ide_Usuario" disabled>
                                </div>
                            }
                            <div class="form-group col-sm-6">
                                <label for="nome">Nome (*)</label>
                                <input type="text" placeholder="EX: José" id="txtNome" name="nome" value="@Model.Nome" class="form-control" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sobrenome">Sobrenome (*)</label>
                                <input type="text" placeholder="EX: da Paixão Lima" id="txtSobrenome" name="sobrenome" value="@Model.Sobrenome" class="form-control" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email">Email (*)</label>
                                <input type="email" placeholder="EX: email@email.com.br" id="txtEmail" name="email" value="@Model.Email" class="form-control" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="celular">Celular (*)</label>
                                <input type="text" placeholder="EX: 71999998888" id="txtCelular" name="celular" value="@Model.Celular" class="form-control" required>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="Perfil">Perfil (*)</label>
                                <select id="Perfil" name="perfil" class="form-control" required>
                                    <option value="@PerfilEnum.Padrao">
                                        Padrão
                                    </option>
                                    <option value="@PerfilEnum.Admin">
                                        Administrador
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-12">
                                <button type="submit" onclick="salvar()" class="btn @(novo ? "btn-primary" : "btn-success")">
                                    @(novo ? "Adicionar" : "Atualizar")
                                </button>
                                <a href="@Url.Action("Index", "Usuario")" class="btn btn-warning">Voltar</a>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div><!-- /.box -->
            </form>

        </div><!-- /.box-body -->
    </div><!-- /.box -->

</section>

<script>

     function salvar() {
        $.ajax({
                type: 'POST',
                data: {
                    'ide_usuario': @Model.Ide_Usuario,
                    'nome': $('#txtNome').val(),
                    'sobrenome': $('#txtSobrenome').val(),
                    'email': $('#txtEmail').val(),
                    'celular': $('#txtCelular').val(),
                    'perfil': $('#Perfil').val()
                },
                url: '@Url.Action("CadastrarUsuario", "Usuario")',
            success: function (result) {
                if (result.is_action) {
                    let novo = '@novo' == "True";
                    swal("Sucesso!", `Usuario ${novo ? "incluído" : "atualizado"} com sucesso!`, "success");

                    if (novo) {
                        $('#txtNome').val('')
                        $('#txtSobrenome').val('');
                        $('#txtEmail').val('');
                        $('#txtCelular').val('');

                    }

                } else {
                    swal("Ops!", result.error, "error");
                }
            },
            error: function (error)
            {
                swal("Ops!", "Ocorreu um erro: " + error, "error");
            },
            datatype: 'json'
        });
    }
</script>